@use '../base/variables' as v;
@use '../base/mixins' as m;

.benefits {
    background: v.$primary;

    &__title {
        @include m.headingBorder(v.$secundary, v.$white);
    }

    &__img {
        transition: rotate .3s scale .3s;

        &:hover {
            transform: rotate(8deg) scale(1.1);
        }
    }

    &__image {
        @include m.img;
    }

    @include m.tablet{
        &__content {
            display: flex;
            align-items: center;
            gap: 3rem;
        }

        &__details {
            flex: 1;
            flex-grow: 1.5;
        }

        &__img {
            flex: 1;
        }
    } 

}