@use '../base/variables' as v;
@use '../base/mixins' as m;

.button {
    @include m.button(v.$primary, v.$secundary);
    margin-block-start: 2rem;
    box-sizing: border-box;
}

.button__plan {
    @extend .button;
    inline-size: auto;
}

.button__plan--whiteborder {
    border: 1px v.$white solid;
}